@* 
@{
    ViewData["Title"] = "AddWriter";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
<div class="col-md-12">
    <div class="card card-primary">
        <div class="card-header">
            <h3 class="card-title">Yazar Ekleme Paneli</h3>
        </div>
        <form role="form" method="post">
            <div class="card-body">
                <div class="form-group">
                    <div >
                    <label for="exampleInputEmail1">Yazarın Adı Soyadı:</label>
                    <input type="text" class="form-control" name="NameSurname" id="exampleInputEmail1" placeholder="Ad Soyad">
                        @Html.ValidationMessageFor(x => x.nameSurname, "", new { @class = "text-primary" })
                    </div>
                    <div style="margin-top:10px">
                        <label for="exampleInputEmail1">Yazarın Mail Adresi:</label>
                        <input type="email" class="form-control" name="Mail" id="exampleInputEmail1" placeholder="E-posta">
                        @Html.ValidationMessageFor(x => x.mail, "", new { @class = "text-primary" })
                    </div>
                    <div style="margin-top:10px">
                        <label for="exampleInputEmail1">Yazarın Mesleği:</label>
                        <input type="text" class="form-control" name="WriterStatus" id="exampleInputEmail1" placeholder="Meslek">
                        @Html.ValidationMessageFor(x => x.writerStatus, "", new { @class = "text-primary" })
                    </div>
                    <div style="margin-top:10px">
                        <label for="exampleInputEmail1">Yazar Adresi:</label>
                        <input type="text" class="form-control" name="WriterAddress" id="exampleInputEmail1" placeholder="Adres">
                        @Html.ValidationMessageFor(x => x.writerAddress, "", new { @class = "text-primary" })
                    </div>
                    <div style="margin-top:10px">
                        <label for="exampleInputEmail1">Yazar Resim Url:</label>
                        <input type="text" class="form-control" name="WriterImage" id="exampleInputEmail1" placeholder="Resim ">
                        @Html.ValidationMessageFor(x => x.writerImageUrl, "", new { @class = "text-primary" })
                    </div>
                    <div style="margin-top:10px">
                        <label for="exampleInputEmail1">Yazar Açıklama:</label>
                        @Html.TextAreaFor(x=>x.WriterDescription,new{@class="form-control",@rows=4,@placeholder="Açıklama"})
                        @Html.ValidationMessageFor(x => x.WriterDescription, "", new { @class = "text-primary" })
                    </div>
                    <div>
                            <button style="margin-top:8px" class="btn btn-success">Kaydet</button>
                        </div>
                </div>
            </div>
        </form>
    </div>
</div>




 *@