@using EntityLayer.Concrete
@model About
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
<!DOCTYPE html>
<html>
<body class="hold-transition sidebar-mini">
    
      
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card card-danger">
                                <div class="card-header">
                                    <h3 class="card-title">Hakkımızda Bilgilerini Düzenleme</h3>
                                </div>
                                <div class="card-body">
                                   @using (Html.BeginForm("Index","About",FormMethod.Post)){
                                    @Html.HiddenFor(x=>x.AboutId)
                                       <div class="form-group">
                                        <label>Ana Başlık:</label>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fas fa-info"></i></span>
                                            </div>
                                            @Html.TextAreaFor(x=>x.AboutTitle,new{@class="form-control",@placeholder="Başlık",@rows=1})
                                        </div>
                                    </div>
                                    <div class="form-group">
                                <label>Alt Başlık:</label>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fas fa-info"></i></span>
                                            </div>
                                    @Html.TextAreaFor(x => x.AboutSubTitle, new { @class = "form-control", @placeholder = "Başlık", @rows = 4 })
                                </div>
                                    </div>
                                    <div class="form-group">
                                        <label>Madde 1:</label>

                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fas fa-info"></i></span>
                                            </div>
                                    @Html.TextAreaFor(x => x.item1, new { @class = "form-control", @placeholder = "Başlık", @rows = 1 })
                                </div>
                                    </div>
                                    <div class="form-group">
                                        <label>Madde 2:</label>

                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fas fa-info"></i></span>
                                            </div>
                                    @Html.TextAreaFor(x => x.item2, new { @class = "form-control", @placeholder = "Başlık", @rows = 1 })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label>Madde 3:</label>

                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fas fa-info"></i></span>
                                            </div>
                                    @Html.TextAreaFor(x => x.item3, new { @class = "form-control", @placeholder = "Başlık", @rows = 1 })
                                </div>
                                    </div>

                            <div class="form-group">
                                <label>Madde 4:</label>

                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fas fa-info"></i></span>
                                    </div>
                                    @Html.TextAreaFor(x => x.item4, new { @class = "form-control", @placeholder = "Başlık", @rows = 1 })
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Madde 5:</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fas fa-info"></i></span>
                                    </div>
                                    @Html.TextAreaFor(x => x.item5, new { @class = "form-control", @placeholder = "Başlık", @rows = 1 })
                                </div>
                            </div>
                                <button  class="btn btn-success">Güncelle</button>
                                   }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        <aside class="control-sidebar control-sidebar-dark">
        </aside>
</body>
</html>


