@model Blog
@{
    ViewData["Title"] = "EditBlog";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
<div class="col-md-12">
    <div class="card card-primary">
        <div class="card-header">
            <h3 class="card-title">Blog Güncelleme Paneli</h3>
        </div>
        <form role="form" method="post" action="/Blog/EditBlog/">
            @Html.HiddenFor(x=>x.BlogId)
            <div class="card-body">
                <div class="form-group">
                    <div>
                        <label for="exampleInputEmail1">Blog Başlık:</label>
                        <input type="text" class="form-control" value="@Model.BlogTitle" asp-for="BlogTitle" id="exampleInputEmail1" placeholder="Başlık">
                        @Html.ValidationMessageFor(x => x.BlogTitle, " ", new { @class = "text-primary" })
                    </div>
                    <div style="margin-top:10px">
                        <label for="exampleInputEmail1">Kategori Seçiniz:</label>
                        @Html.DropDownListFor(x => x.CategoryId, (List<SelectListItem>)ViewBag.c, new { @class = "form-control" })
                    </div>
                    <div style="margin-top:10px">
                        <label for="exampleInputEmail1">Yazar Seçiniz:</label>
                       @Html.DropDownListFor(x => x.AppUserId, (List<SelectListItem>)ViewBag.comboboxU, new { @class = "form-control" })
                   </div>
                    <div style="margin-top:10px">
                        <label for="exampleInputEmail1">Blog Resim:</label>
                        <input type="text" class="form-control" value="@Model.BlogImage" asp-for="BlogImage" id="exampleInputEmail1" placeholder="Resim">
                        @Html.ValidationMessageFor(x => x.BlogImage, " ", new { @class = "text-primary" })
                    </div>
                    <div style="margin-top:10px">
                        <label for="exampleInputEmail1">Blog İçerik:</label>
                        @Html.TextAreaFor(x => x.BlogContent, new { @class = "form-control", @rows = 7, @placeholder = "İçerik" })
                        @Html.ValidationMessageFor(x => x.BlogContent, " ", new { @class = "text-primary" })
                    </div>
                    <div>
                        <button style="margin-top:8px" class="btn btn-success">Güncelle</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>


